/* styles/Course.css */

.course-container {
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  padding: 40px;
  margin-bottom: 40px;
  height: 100%;
}

.course-details {
  flex: 1;
  text-align: center;
}

.course-title {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.title-line {
  position: absolute;
  top: 50%;
  width: 30%;
  height: 2px;
  background-color: #333;
}

.course-description .box {
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 20px;
  color: #555;
}

.course-learn-what {
  margin-top: 40px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.course-learn-what .box {
  border: 1px solid #ddd;
  padding: 20px;
}

.course-learn-what ul {
  list-style: disc;
  margin-left: 20px;
}

.course-learn-what li {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.course-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.course-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.notification {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;

  transition-duration: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: fade-in;
  animation-duration: 1s;
  opacity: 0;

  padding-left: 0;
  color: white;

  .iconContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 0.5rem;
    border-radius: 4px 0 0 4px;
  }

  p {
    background-color: #2f3032;
    padding: 1rem;
    border-radius: 0 4px 4px 0;
    font-weight: 500;
  }

  &:hover {
    transform: rotate(-3deg) scale(1.1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}